<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaLab.Simpa.Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <MediaLab.Simpa.Settings.Properties.Settings>
        <setting name="Mode" serializeAs="String">
          <value>Sandbox</value>
        </setting>
        <setting name="ServerIp" serializeAs="String">
          <value>127.0.0.1</value>
        </setting>
        <setting name="ServerPort" serializeAs="String">
          <value>7000</value>
        </setting>
        <setting name="ConnectionMode" serializeAs="String">
          <value>Developer</value>
        </setting>
        <setting name="ClientNamePrefix" serializeAs="String">
          <value>visual</value>
        </setting>
        <setting name="InstructorListenerPrefix" serializeAs="String">
          <value>instructor</value>
        </setting>
        <setting name="ControlListenerPrefix" serializeAs="String">
          <value>control</value>
        </setting>
        <setting name="SendingInterval" serializeAs="String">
          <value>0.1</value>
        </setting>
        <setting name="WindowOnTopMostWaitTime" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="WindowOnTopMostMaximumTime" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="CultureInfo" serializeAs="String">
          <value>en-US</value>
        </setting>
        <setting name="MultimediaFolder" serializeAs="String">
          <value />
        </setting>
        <setting name="CameraMode" serializeAs="String">
          <value>Cave</value>
        </setting>
      </MediaLab.Simpa.Settings.Properties.Settings>
    </applicationSettings>
</configuration>